.t-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding: 2rem 1rem;
  background-color: black;
}

.t-heading {
  color: #fdc063;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 5rem;
  text-align: center;
  border-bottom: 2px solid #fdc063;
}

.t-members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow members to wrap onto new lines */
  gap: 3rem;
}

.t-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem 8rem; /* Adjust spacing between team members */
  max-width: 25rem; /* Maximum width for each member */
}

.t-container {
  width: 15rem; /* Fixed width */
  height: 15rem; /* Fixed height */
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align image to the bottom of the container */
  border-radius: 10px;
  overflow: hidden;
  position: relative; /* Add position relative for absolute positioning */
}

.t-container img {
  object-fit: cover; /* Ensure the image fits within the container */
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.t-container img:hover {
  transform: scale(1.05) translateY(5px); /* Enlarge and move downward on hover */
}

.t-info {
  margin-top: 2rem;
  text-align: center;
}

.t-name {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  transition: color 0.3s ease;
  text-decoration: none;
  position: relative; /* Ensure relative positioning for pseudo-element */
}

.t-name:hover {
  color: #fdc063; /* Change text color on hover */
}

.t-name::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #fdc063;
  transition: width 0.3s ease;
}

.t-name:hover::after {
  width: 100%; /* Expand the line on hover */
}

.t-designation {
  font-size: 1rem;
  font-weight: 400;
  color: #e8d7c1;
}
